/*
 * Typography
 */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
$font-family-base: "Open Sans", sans-serif;
$headings-font-family: "Raleway", sans-serif;
$headings-font-weight: 400;

/*
 * Colors
 */
$primary: hsl(243, 87%, 12%);
$secondary: hsl(238, 22%, 44%);

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$custom-colors: (
  "bright-blue": hsl(224, 93%, 58%),
  "moderate-cyan": hsl(170, 45%, 43%),
  "light-grayish-blue": hsl(240, 75%, 98%),
  "light-gray": hsl(0, 0%, 75%),
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";

/*
 * Header
 */
.navbar-brand img {
  width: 5rem;
}
@include media-breakpoint-up(md) {
  .navbar-brand img {
    width: 8rem;
  }
  .header h2 {
    text-align: left;
  }
  .header p {
    text-align: left;
  }
}

input[type="email"]::placeholder {
  color: map-get($map: $theme-colors, $key: light-gray);
}
/*
 * Main
 */
@include media-breakpoint-up(md) {
  .main {
    h2 {
      text-align: left !important;
      font-size: 1.5rem;
    }
    p.text-center {
      text-align: left !important;
    }
  }
}
.icon-arrow {
  width: 20px;
}
.card {
  width: 80%;
  max-width: 300px;
  .card-body {
    font-size: 0.8rem;
  }
}
.testimonial-img {
  width: 35px;
}
.testimonial-name {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}
.testimonial-position {
  font-size: 0.6rem;
}
/*
 * Contact
 */
@include media-breakpoint-up(md) {
  .contact div.text-center {
    text-align: left !important;
  }
  .contact button {
    width: 46%;
  }
}
/*
 * Footer
 */
a {
  color: inherit;
}
.icon {
  width: 2rem;
  height: 2rem;
}
/*
 * Active states
 */
.btn-bright-blue:hover {
  background-color: #6b9bff;
  border-color: #6b9bff;
}
.text-moderate-cyan:hover {
  color: #49c9b3 !important;
  border-color: currentColor !important;
}
.footer a:hover {
  color: $secondary;
  border-color: currentColor !important;
}
/*
 * Invalid forms
 */
.was-validated input:invalid {
  border-color: $red !important;
}
